.container {
  @apply w-full;
}

/* .container.isGameOver {
  @apply bg-[#f0f0f0];
} */

.configurationAndGame {
  @apply w-full;
  @apply relative mx-auto gap-x-6;
  @apply mt-12;
  @apply flex flex-col justify-center;
  @apply sm:mt-16;
  @apply sm:flex-row;
  @apply sm:pl-[90px];
  @apply md:pl-[50px]; /* this is to account for the space taken up by the controls */
  @apply lg:w-[1080px];
}

.game {
  @apply grid;
  @apply grid-rows-[repeat(auto-fill,minmax(24px,1fr))];
  @apply grid-cols-[repeat(auto-fill,minmax(24px,1fr))];
  /* @apply sm:grid-rows-[repeat(auto-fill,minmax(26px,1fr))];
  @apply sm:grid-cols-[repeat(auto-fill,minmax(26px,1fr))]; */
  @apply mx-auto;
  @apply sm:mx-0;
  @apply mt-4;
  @apply sm:mt-4;
}

.footer.mobile {
  @apply w-full;
  @apply relative;
  @apply text-right text-[12px];
  @apply mt-4;
  @apply sm:hidden;
}

.footer.desktop {
  @apply hidden;
  @apply fixed bottom-4 right-4;
  @apply text-right;
  @apply text-sm;
  @apply sm:block;
}

.tile {
  @apply text-[16px];
}

.results.mobile {
  @apply sm:hidden;
  @apply mt-6;
  @apply mx-auto;
}

.timerAndRefresh.desktop {
  @apply hidden;
  @apply sm:block;
}

.timerAndRefresh.mobile {
  @apply flex items-center gap-x-1;
  @apply sm:hidden;
  @apply relative;
  @apply mx-auto mt-4;
}

.timer {
  @apply w-full;
  @apply flex items-center;
  @apply gap-x-2;
}

.timerText {
  @apply text-sm;
  @apply sm:text-base;
}

.reload {
  @apply h-[24px] w-[24px];
  @apply flex items-center;
  @apply text-xl;
  @apply sm:mt-4;
}

.reloadIcon {
  @apply mx-auto;
  @apply mt-[-2px];
  @apply sm:mt-0;
  @apply ml-[-2px];
}

.timer {
  @apply text-[16px];
  @apply sm:text-[28px];
  @apply text-center;
}

.controls.mobile {
  @apply sm:hidden;
  @apply fixed;
  @apply bottom-0;
  @apply border-t border-black;
  @apply bg-white;
  @apply w-full;
  @apply px-4 py-3;
  @apply z-10;
}

.controls.desktop {
  @apply hidden;
  @apply sm:block;
  @apply fixed;
  @apply w-full;
  @apply top-[50px] left-4;
  @apply sm:w-[240px];
  @apply md:w-[300px];
}

.controls.desktop {
  .presetButton, .difficultyButton, .themeButton {
    @apply mb-3;
  }
}

.controls.mobile {
  .difficultyButton {
    @apply py-1;
  }
}

.configurationsMobile {
  @apply flex justify-between;
}

.configurationsDesktop {
  @apply hidden;
  @apply sm:block;
}

.button {
  @apply bg-white;
}

.presets.mobile {
  @apply sm:hidden;
  @apply mt-0;
  @apply px-4;
  @apply max-h-[65px];
  @apply overflow-scroll;

  .presetButtons {
    @apply flex flex-wrap;
    @apply justify-center;
    @apply gap-x-2;
  }

  .presetButton {
    @apply py-1;
    @apply mb-2;
  }
}

.presets.desktop {
  @apply hidden;
  @apply mt-2;
  @apply sm:block;

  .presetButtons {
    @apply w-full;
    @apply flex flex-wrap;
    @apply gap-x-2;
  }

  .presetButton {
    @apply mb-3;
  }
}

.difficultyButtons, .themeButtons {
  @apply w-full;
  @apply flex flex-wrap;
  @apply gap-x-2;
}

.mobile {
  .themeButtons {
    @apply flex items-center;
  }

  .themeButton {
    @apply text-lg;
  }
}

.configurationButton {
  @apply border border-black;
  @apply px-2 py-[1px];
  @apply text-left;
  @apply text-xs;
  @apply md:text-sm;
}

.configurationButton.advanced {
  @apply hidden;
  @apply md:block;
}

.configurationLabel {
  @apply text-xs;
  @apply md:text-sm;
}

.desktop {
  .configurationLabel {
    @apply mb-2;
  }

  .configurationLabel::before {
    content: '##';
    @apply text-sm;
    @apply mr-1;
  }
}

.configurationButton.selected {
  @apply bg-[#fee3ff];
}

.difficultyButton.selected {
  @apply bg-[#fee3ff];
}

.legend.mobile {
  @apply fixed;
  @apply right-4 bottom-16;
  @apply bg-white;
  @apply pl-2 pt-2 pb-2;
  @apply sm:hidden;
}

.legend.desktop {
  @apply hidden;
  @apply fixed;
  @apply sm:block;
  @apply top-16 right-8;

  .legendBox {
    @apply text-right;
    @apply mt-2;
  }
}

.legendButton {
  @apply border border-black;
  @apply text-xs;
  @apply md:text-sm;
  @apply px-2 py-[1px];
}

.mobile {
  .gameOverContainer {
    @apply text-sm text-center mx-8 mb-32;
  }

  .stats {
    @apply mb-4;
  }

  .gameOver {
    @apply text-xs;
  }
}

.desktop {
  .gameOverContainer {
    @apply relative;
    @apply absolute;
    @apply lg:fixed lg:bottom-[clamp(0px,100px,10vh)] lg:top-[clamp(200px,300px,40vh)];
  }

  .stats {
    @apply w-[150px];
    @apply bg-white;
    @apply text-[14px];
    @apply border border-black;
    @apply px-3 py-[6px];
  }

  .gameOver {
    @apply bg-white;
    @apply text-[14px];
    @apply border border-black;
    @apply px-3 py-[6px] mt-[1.2rem];
  }

  .gameOver.short {
    @apply max-w-[100px];
  }
  
  .gameOver.medium {
    @apply min-w-[100px];
    @apply max-w-[150px];
  }
  
  .gameOver.long {
    @apply min-w-[150px];
    @apply max-w-[200px];
  }
  
  .gameOver.extraLong {
    @apply w-[360px];
  }
}

/* .easy {
  .gameOver {
    @apply lg:ml-[200px];
  }
}

.intermediate {
  .gameOver {
    @apply lg:ml-[300px];
  }
}

.advanced {
  .gameOver {
    @apply lg:ml-[400px];
  }
} */

.gameOverLabel {
  @apply font-bold;
  @apply w-full;
}

.gameOverCursor {
  @apply opacity-100;
  @apply inline-block;
}

.cursorOff {
  @apply opacity-0;
}

.gameOverText {
}

.classic {
  .unclicked {
    @apply border-[3px] border-white;
    @apply bg-[#ededed];
    border-style: outset;
  }

  .clicked {
    @apply border-0 outline-[1px] outline-[#c1c1c1];
    @apply bg-[#f0f0f0];
    outline-style: solid;
  }
}

.unclicked {
  line-height: 24px;
}

.clicked {
  line-height: 24px;
}

.fruits {
  .unclicked {
    @apply bg-[#f0f0f0];
  }

  .clicked {
    @apply bg-[#f7f7f7];
    @apply border-[#d2d2d2];
  }
}

.classic {
  @apply border border-[#a1a1a1];
}

.simple {
  @apply border border-[#a1a1a1];

  .unclicked {
    box-shadow: 0 0 0 1px #e6e6e6;
    /* @apply outline outline-[#e6e6e6]; */
    /* outline-offset: 0; */
    @apply bg-white;
  }

  .clicked {
    @apply bg-[#f0f0f0];
    outline: solid 1px #d1d1d1;
    /* @apply outline outline-[#d1d1d1];
    outline-offset: 0; */
  }  
}

.dark {
  @apply border border-[#303030];

  .unclicked {
    @apply bg-[#222222];
    @apply border-[#303030];
    @apply border-[3px];
    border-style: outset;
  }

  .clicked {
    @apply text-white;
    @apply bg-[#525252];
    @apply outline outline-[#303030];
    outline-style: solid;
    outline-offset: 0;
  }
}

.dreamlike {
  @apply border border-[#e6f9ff];

  .unclicked {
    @apply bg-[#e6f9ff];
    box-shadow: 0 0 0 1px #cff3ff;
    /* @apply outline outline-[#cff3ff];
    outline-offset: 0; */
  }

  .clicked {
    @apply text-[#291322];
    @apply bg-[#cff3ff];
    outline: solid 1px #e6f9ff;
    /* @apply outline outline-[#e6f9ff];
    outline-offset: 0; */
  }
}

.compiler.dark {
  .clicked {
    @apply text-black;
  }
}

.fruits.dreamlike,
.compiler.dreamlike {
  .clicked {
    @apply text-[#291322];
  }
}

.fruits.pink,
.compiler.pink {
  .clicked {
    @apply text-[#181924];
  }
}

.fruits.green,
.compiler.green {
  .clicked {
    @apply text-[#525c4a];
  }
}

.pink {
  @apply border border-[#fab4ee];

  .unclicked {
    @apply bg-[#ffe6fb];
    box-shadow: 0 0 0 1px #fcf2fb;
    /* @apply outline outline-[#fcf2fb];
    outline-offset: 0; */
  }

  .clicked {
    @apply text-[#181924];
    @apply bg-[#ffc9f6];
    outline: solid 1px #fab4ee;
    /* @apply outline outline-[#fab4ee];
    outline-offset: 0; */
  }
}

.green {
  @apply border border-[#c9f2ae];

  .unclicked {
    @apply bg-[#dfffcc];
    box-shadow: 0 0 0 1px #d4f5bf;
    /* @apply outline outline-[#d4f5bf];
    outline-offset: 0; */
  }

  .clicked {
    @apply text-[#525c4a];
    @apply bg-[#beff99];
    outline: solid 1px #c9f2ae;
    /* @apply outline outline-[#c9f2ae];
    outline-offset: 0; */
  }
}

.standard {
  .1 {
    @apply text-[#4759fc];
  }
  .2 {
    @apply text-[#259c51];
  }
  .3 {
    @apply text-[#ff2b2b];
  }
  .4 {
    @apply text-[#080854];
  }
  .mine {
    @apply text-black;
  }
}
