.container {
  @apply relative;
  @apply w-full min-h-[100vh];
  @apply bg-[#f5faff];
  @apply lg:bg-white;
  @apply font-medium;
}

.container.isDarkTheme {
  @apply font-normal;
  @apply bg-[#0f0f0f];
}

.configurationAndGame {
  @apply w-full;
  @apply relative mx-auto gap-x-6;
  @apply pt-12;
  @apply flex flex-col justify-center;
  @apply lg:pt-16;
  @apply lg:flex-row;
  @apply lg:pl-[90px]; /* this is to account for the space taken up by the controls */
  @apply lg:w-[1080px];
}

.game {
  @apply grid;
  @apply grid-rows-[repeat(auto-fill,minmax(24px,1fr))]; /* 26px? */
  @apply grid-cols-[repeat(auto-fill,minmax(24px,1fr))]; /* 26px? */
  @apply mx-auto;
  @apply mt-[14px];
  @apply lg:mx-0;
  @apply lg:mt-4;
}

.footer.mobile {
  @apply w-full;
  @apply relative;
  @apply text-right text-[12px];
  @apply mt-4;
  @apply lg:hidden;
}

.footer.desktop {
  @apply hidden;
  @apply fixed bottom-4 right-4;
  @apply text-right;
  @apply text-sm;
  @apply lg:block;
}

.isDarkTheme {
  .footer {
    @apply text-[#dedede];
  }
}

.tile {
  @apply text-[16px];
}

.results.desktop {
  @apply hidden;
  @apply lg:block;
}

.timerAndRefresh.mobile {
  @apply flex items-center gap-x-1;
  @apply relative;
  @apply mx-auto mt-6;
  @apply lg:hidden;

  .reload svg {
    @apply w-[18px] h-[18px];
  }
}

.isDarkTheme {
  .timerAndRefresh {
    @apply text-[#dedede];
  }
}

.timer {
  @apply w-full;
  @apply flex items-center;
  @apply gap-x-2;
}

.timerText {
  @apply text-sm;
  @apply md:text-base;
}

.reload {
  @apply flex items-center;
  @apply text-xl;
  @apply mx-auto;
  @apply mt-[-2px] ml-[-2px];
  @apply lg:mt-4 lg:ml-0;
}

.timer {
  @apply text-[16px];
  @apply text-center;
  @apply lg:text-[28px];
}

.controls.mobile {
  @apply z-10;
  @apply lg:hidden;
}

.controls.desktop {
  @apply hidden;
  @apply fixed;
  @apply top-[50px] left-4;
  @apply lg:block;
  @apply lg:w-[300px];
}

.configurationsDesktop {
  @apply hidden;
  @apply lg:block;
}

.button {
  @apply bg-[#e5f2ff];
  @apply border-[#add6ff];
  @apply border rounded-sm;
}

.button.standard, .button.dark, .button.classic {
}

.button.selected {
  @apply bg-[#fee3ff];
  @apply border-[#ffb8fb];
}

.button.standard.selected, .button.dark.selected, .button.classic.selected {
}

.isDarkTheme {
  .button {
    @apply bg-transparent;
    @apply border-[#202020];
    @apply bg-[#202020];
    @apply text-[#dedede];
  }

  .button.selected {
    @apply border border-[#74ff6a];
    @apply bg-black;
    @apply text-[#74ff6a];
    /* @apply bg-[#ef96dd];
    @apply border-[#cf60b9];
    @apply text-black; */
  }

  .tile {
    @apply text-[#737373];
  }
}

.presets.mobile {
  @apply mt-0 px-2;
  @apply flex items-center gap-x-2;
  @apply lg:hidden;

  .presetButtons {
    @apply flex flex-row gap-x-2;
    @apply h-[34px];
    @apply overflow-x-scroll;
    @apply sm:h-auto sm:flex-wrap sm:justify-center;
  }

  .button {
    @apply whitespace-nowrap;
    @apply py-[4px];
    @apply sm:py-[6px];
    @apply sm:mb-2;
  }

  .arrowLeft, .arrowRight {
    @apply flex-auto;
    @apply cursor-pointer;
    @apply sm:hidden;

    svg {
      @apply w-[20px] h-[20px];
    }
  }

  .arrowLeft.isDisabled,
  .arrowRight.isDisabled {
    @apply opacity-30;
  }
}

.presets.desktop {
  @apply hidden;
  @apply mt-2;
  @apply lg:block;

  .presetButtons {
    @apply flex flex-wrap gap-x-2;
  }

  .button {
    @apply py-[6px] mb-2;
  }
}

.difficulty.mobile {
  @apply fixed left-4 bottom-4;
  @apply flex gap-x-2;
  @apply lg:hidden;

  .button {
    @apply py-[4px];
    @apply sm:py-[6px];
  }
/* 
  .button.selected {
    @apply border border-[#74ff6a];
    @apply bg-transparent;
    @apply text-[#74ff6a];
  } */
}

.difficulty.desktop {
  @apply hidden;
  @apply lg:block;

  .difficultyButtons {
    @apply flex flex-wrap gap-x-2;
  }

  .button {
    @apply py-[6px] mb-2;
  }
}

.theme.desktop {
  @apply hidden;
  @apply lg:block;

  .themeButtons {
    @apply flex flex-wrap gap-x-2;
  }

  .button {
    @apply py-[6px] mb-2;
  }
}

.configurationButton {
  @apply px-2 py-[1px];
  @apply text-left;
  @apply text-sm;
  @apply leading-6;
}

.configurationButton.advanced {
  @apply hidden;
  @apply lg:block;
}

.configurationLabel {
  @apply text-xs;
  @apply md:text-sm;
}

.isDarkTheme {
  .configurationLabel {
    @apply text-white;
  }
}

.desktop {
  .configurationLabel {
    @apply mb-2;
  }

  .configurationLabel::before {
    content: '##';
    @apply text-sm;
    @apply mr-1;
  }
}

.switchTheme {
  @apply fixed left-[13px] top-[106px];
  @apply sm:left-4 sm:bottom-20 sm:top-auto;
  @apply lg:hidden;
}

.darkThemeButton.mobile {
  @apply text-xs;
  @apply leading-4;
  @apply px-2 py-[3px];
  @apply sm:text-sm;
  @apply sm:py-[4px];
}

.isDarkTheme {
  .darkThemeButton {
    @apply text-[#ecff6a];
  }
}

.themeAndLegend.mobile {
  @apply fixed bottom-4 right-4;
  @apply flex gap-x-2 items-end;
  @apply lg:hidden;
}

.theme.mobile {
  @apply border rounded-sm border-[#add6ff];
  @apply w-[40px];
  @apply sm:py-[6px];
  @apply text-center;

  &.dark {
    @apply bg-[#9eaab3];
    @apply border-[#515960];
  }

  &.green {
    @apply bg-[#d9ffbf];
    @apply border-[#89df7c];
  }

  &.pink {
    @apply bg-[#fee3ff];
    @apply border-[#ffb8fb];
  }

  &.dreamlike {
    @apply bg-[#e5f2ff];
    @apply border-[#add6ff];
  }

  &.simple {
    @apply bg-[#e5f2ff];
    @apply border-[#add6ff];
  }

  &.classic {
    @apply bg-[#ededed];
    @apply border-[#a1a1a1];
  }

  &.open {
    @apply bg-[#e5f2ff];
    @apply border-[#add6ff];
  }

  .themes {
    @apply py-2;
    @apply flex flex-col-reverse gap-y-1 items-center;
  }

  .currentTheme {
    @apply w-full;
    @apply text-base;
    @apply leading-6;
    @apply py-[5px] pb-[3px];
    @apply sm:text-lg;
    @apply sm:py-[6px];
  }
}

.isDarkTheme {
  .theme.mobile {
    @apply bg-[#202020];
    @apply border-[#202020];
    @apply text-white;

    .currentTheme {
      @apply text-white;
    }
  }

  .theme.mobile.open {
    @apply bg-[#202020];
    @apply border-[#202020];
  }
}

.legend.mobile {
  @apply grid grid-flow-col grid-rows-4 gap-x-2;
  @apply border rounded-sm border-[#add6ff];
  @apply bg-white;
  @apply px-2 py-1;
  @apply sm:px-3 sm:py-2;
  @apply text-sm;
  @apply sm:text-base;
  @apply leading-5;
  @apply sm:leading-[1.35rem];
}

.legend.mobile.hide {
  @apply invisible;
}

.legend.desktop {
  @apply hidden;
  @apply fixed;
  @apply lg:block;
  @apply top-16 right-4;

  .legendBox {
    @apply text-right;
    @apply mt-2;
  }

  .button {
    @apply text-xs;
    @apply border border-[#add6ff] rounded-sm;
    @apply px-2 py-[4px];
  }
}

.isDarkTheme {
  .legend {
    @apply bg-[#202020];
    @apply border-[#202020];
    @apply text-[#dedede];
  }

  .legend.desktop {
    @apply bg-transparent;

    .button {
      @apply border-[#7e7e7e];
    }
  }
}

.gameOverContainer.mobile,
.gameWonContainer.mobile {
  @apply text-sm text-center;
  @apply md:hidden;
  @apply w-full;
  @apply pt-4 px-8 pb-32;

  .stats {
    @apply mb-2;
  }

  .gameOver,
  .gameWon {
    @apply text-sm;
  }  
}

.gameOverContainer.desktop,
.gameWonContainer.desktop {
  @apply hidden;
  @apply md:block;
  @apply absolute;
  @apply lg:fixed lg:bottom-[clamp(0px,100px,10vh)] lg:top-[clamp(200px,300px,40vh)];

  .stats {
    @apply w-[150px];
    @apply bg-white;
    @apply text-[14px];
    @apply border border-black;
    @apply px-3 py-[6px];
  }

  .gameOver,
  .gameWon {
    @apply bg-white;
    @apply text-[14px];
    @apply border border-black;
    @apply px-3 py-[6px] mt-[1.2rem];
  }

  .gameOver.short,
  .gameWon.short {
    @apply max-w-[100px];
  }
  
  .gameOver.medium,
  .gameWon.medium {
    @apply min-w-[100px];
    @apply max-w-[150px];
  }
  
  .gameOver.long,
  .gameWon.long {
    @apply min-w-[150px];
    @apply max-w-[200px];
  }
  
  .gameOver.extraLong,
  .gameWon.extraLong {
    @apply w-[360px];
  }
}

.isDarkTheme {
  .gameOverContainer.mobile,
  .gameWonContainer.mobile {
    @apply text-[#dedede];

    .stats {
      @apply bg-transparent;
    }
  
    .gameOver,
    .gameWon {
      @apply bg-transparent;
      @apply text-[#dedede];
    }
  }

  .gameOverContainer.desktop,
  .gameWonContainer.desktop {
    @apply text-[#dedede];

    .stats {
      @apply bg-transparent;
      @apply border-[#7e7e7e];
    }
  
    .gameOver,
    .gameWon {
      @apply border-[#7e7e7e];
      @apply bg-transparent;
      @apply text-[#dedede];
    }
  }
}

/* .easy {
  .gameOver {
    @apply lg:ml-[200px];
  }
}

.intermediate {
  .gameOver {
    @apply lg:ml-[300px];
  }
}

.advanced {
  .gameOver {
    @apply lg:ml-[400px];
  }
} */

.gameOverLabel,
.gameWonLabel {
  @apply font-bold;
  @apply w-full;
}

.gameOverCursor {
  @apply opacity-100;
  @apply inline-block;
}

.cursorOff {
  @apply opacity-0;
}

.classic {
  .unclicked {
    @apply border-[3px] border-white;
    @apply bg-[#ededed];
    border-style: outset;
  }

  .clicked {
    @apply border-0 outline-[1px] outline-[#c1c1c1];
    @apply bg-[#f0f0f0];
    outline-style: solid;
  }
}

.isDarkTheme {
  .classic {
    .unclicked {
      @apply border-[3px] border-white;
      @apply bg-[#ededed];
      border-style: outset;
    }
  
    .clicked {
      @apply border-0 outline-[1px] outline-[#c1c1c1];
      @apply bg-[#f0f0f0];
      outline-style: solid;
    }
  }
}

.unclicked {
  line-height: 24px;
}

.clicked {
  line-height: 24px;
}

.fruits {
  .unclicked {
    @apply bg-[#f0f0f0];
  }

  .clicked {
    @apply bg-[#f7f7f7];
    @apply border-[#d2d2d2];
  }
}

.classic {
  @apply border border-[#a1a1a1];
}

.simple {
  .unclicked {
    box-shadow: 0 0 0 1px #d6d6d6;
    @apply bg-white;
  }

  .clicked {
    @apply bg-[#f0f0f0];
    outline: solid 1px #d1d1d1;
  }
}

.isDarkTheme {
  .simple {
    @apply outline-2 outline-black;

    .unclicked {
      box-shadow: 0 0 0 1px #262626;
      @apply bg-[#333333];
    }
  
    .clicked {
      @apply bg-[#262626];
      outline: solid 1px #1a1a1a;
    }
  }
}

.dark {
  @apply border border-[#303030];

  .unclicked {
    @apply bg-[#222222];
    @apply border-[#303030];
    @apply border-[3px];
    border-style: outset;
  }

  .clicked {
    @apply text-black;
    @apply bg-[#525252];
    @apply border-0;
    @apply outline outline-[#303030];
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 0;
  }
}

.isDarkTheme {
  .dark {
    .unclicked {
      @apply bg-[#222222];
      @apply border-black;
      @apply border-[3px];
      border-style: outset;
    }
  
    .clicked {
      @apply text-black;
      @apply bg-[#525252];
      @apply border-0;
      @apply outline outline-[#303030];
      outline-width: 1px;
      outline-style: solid;
      outline-offset: 0;
    }
  }
}

.dreamlike {
  @apply border border-[#add6ff];

  .unclicked {
    @apply bg-[#e5f2ff];
    box-shadow: 0 0 0 1px #cff3ff;
  }

  .clicked {
    @apply text-[#291322];
    @apply bg-[#ffe2fa];
    outline: solid 1px #e6f9ff;
  }

  .clicked.1 {
    @apply bg-[#ffe2fa];
  }

  .clicked.2 {
    @apply bg-[#ffccf6];
  }

  .clicked.3 {
    @apply bg-[#ffb3f2];
  }

  .clicked.4 {
    @apply bg-[#ff99ee];
  }

  .clicked.5 {
    @apply bg-[#ff66e5];
  }

  .clicked.6 {
    @apply bg-[#ff33dd];
  }

  .clicked.7 {
    @apply bg-[#ff00d4];
  }

  .clicked.8 {
    @apply bg-[#cc00aa];
  }

  .clicked.mine {
    @apply bg-[#c0dfff];
  }
}

.isDarkTheme {
  .dreamlike {
    .unclicked {
      @apply bg-[#93ddff];
      box-shadow: 0 0 0 1px #ade5ff;
    }
  
    .clicked {
      @apply text-[#291322];
      @apply bg-[#ff94f1];
      outline: solid 1px #ff7aed;
    }
  }
}

.compiler.dark {
  .clicked {
    @apply text-black;
  }
}

.fruits.dreamlike,
.compiler.dreamlike {
  .clicked {
    @apply text-[#291322];
  }
}

.fruits.pink,
.compiler.pink {
  .clicked {
    @apply text-[#181924];
  }
}

.fruits.green,
.compiler.green {
  .clicked {
    @apply text-[#525c4a];
  }
}

.pink {
  @apply border border-[#ffb8fb];

  .unclicked {
    @apply bg-[#fee3ff];
    box-shadow: 0 0 0 1px #fcf2fb;
  }

  .clicked {
    @apply text-[#181924];
    @apply bg-[#ffc9f6];
    outline: solid 1px #fab4ee;
  }
}

.isDarkTheme {
  .pink {  
    .unclicked {
      @apply bg-[#fcadff];
      box-shadow: 0 0 0 1px #fdccff;
    }
  
    .clicked {
      @apply text-[#181924];
      @apply bg-[#fcc9ff];
      outline: solid 1px #fab4ee;
    }
  }
}

.green {
  @apply border border-[#c9f2ae];

  .unclicked {
    @apply bg-[#dfffcc];
    box-shadow: 0 0 0 1px #c1e9af;
  }

  .clicked {
    @apply text-[#525c4a];
    @apply bg-[#beff99];
    outline: solid 1px #c9f2ae;
  }

  .clicked.1 {
    @apply bg-[#beff99];
  }

  .clicked.2 {
    @apply bg-[#beff99];
  }

  .clicked.3 {
    @apply bg-[#abff7a];
  }

  .clicked.4 {
    @apply bg-[#abff7a];
  }

  .clicked.5 {
    @apply bg-[#98ff5c];
  }

  .clicked.6 {
    @apply bg-[#98ff5c];
  }

  .clicked.7 {
    @apply bg-[#7eff33];
  }

  .clicked.8 {
    @apply bg-[#7eff33];
  }

  .clicked.mine {
    @apply bg-[#91ff52];
  }
}

.isDarkTheme {
  .green {
    .unclicked {
      @apply bg-[#292929];
      box-shadow: 0 0 0 1px #74ff6a;
    }
  
    .clicked {
      @apply text-black;
      @apply bg-[#74ff6a];
      outline: solid 1px black;
    }
  }
}

.standard {
  .1 {
    @apply text-[#4759fc];
  }
  .2 {
    @apply text-[#259c51];
  }
  .3 {
    @apply text-[#ff2b2b];
  }
  .4 {
    @apply text-[#080854];
  }
  .5 {
    @apply text-[#770606];
  }
  .6 {
    @apply text-[#066f78];
  }
  .7 {
    @apply text-[#780675];
  }
  .8 {
    @apply text-[#838082];
  }
  .mine {
    @apply text-black;
  }
}
